body {
  background: whitesmoke;
}

.hide {
  display: none;
}

li {
  list-style-type:none;
}

button {
  background-color: whitesmoke;
  border: 2px solid #4CAF50;
  color: black;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
  font-size: 18px;
  font-weight: bold;
}

.like-button:hover {
  background-color: #4CAF50;
  color: blue;
}

.remove-post:hover {
  background-color: #4CAF50;
  color: red;
}
